*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #EFF1F7;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: 165px;
}

.content {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  width: calc(100% + 330px);
  margin-left: -165px; 
  padding-inline: 165px;
  background-image: url('/workingman.png');
  background-repeat: no-repeat;
  background-position: right;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 165px;
  align-items: center;
}

.headerSelectedPart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navbar {
  display: flex;
  gap: 30px;
}

.loginBtn {
  color: #9E9AA8;
  border: none;
  background-color: #FFF;
  font-size: 15px;
  line-height: 23px;
  font-weight: 700;
  cursor: pointer;
}

.signBtn {
  margin-left: 30px;
  padding: 9px 23px;
  background-color: #2BD0D0;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  cursor: pointer;
}

.signBtn:hover {
  background-color: #9AE3E3;
}

.subheader {
  width: 563px;
  margin-bottom: 140px;

  h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: #34313D;
  }

  p {
    font-size: 22px;
    line-height: 36px;
    color: #9E9AA8;
    letter-spacing: 0.15px;
    margin-bottom: 38px;
  }

  button  {
    background-color: #2BD0D0;
    padding: 14px 40px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }

  button:hover {
    background-color: #9AE3E3;
  }
  
}

.form {
  background-image: url('/blackgradyan.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  position: relative;
  bottom: 65px;
  border-radius: 10px;

  form {
    padding: 52px 64px;
  }

  input {
    width: 769px;
    padding: 15px 32px;
    border-radius: 10px;
    border: none;
    margin-right: 32px;
  }

  button {
    padding: 12px 40px;
    background-color: #2BD0D0;
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    background-color: #9AE3E3;
  } 
}

.shortUrls {
  margin-bottom: 120px;
  background-color: #FFFFFF;
  padding: 18px 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .shortInfo {
    display: flex;
    gap: 50px;
    align-items: center;
    
    .btn {
      padding: 7px 30px;
      background-color: #2BD0D0;
      border: none;
      border-radius: 8px;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn:hover {
      background-color: #9AE3E3;
    } 
  }
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;
}
 
.titleP {
  margin-bottom: 56px;
}

.statisticksItems {
  display: flex;
  gap: 30px;
}

.statistics .statisticksItems .ıtem:nth-child(2) {
  position: relative;
  top: 44px;
}

.statistics .statisticksItems .ıtem:nth-child(3) {
  position: relative;
  top: 88px;
}

.ıtem {
  width: 350px;
  background-color: #FFFFFF;
  padding: 40px 32px 41px 32px;
  border-radius: 8px;  
}

.getStart {
  background-image: url('/blackgradyan.png');
  background-repeat: no-repeat;
}

.linkPromotion {
  background-image: url('/blackgradyan.png');
  background-repeat: no-repeat;
  padding: 52px 64px;
  text-align: center;
  background-color: #4b3e6a;

  h1 {
    color: #Fff;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 32px;
  }

  button  {
    background-color: #2BD0D0;
    padding: 14px 40px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }

  button:hover {
    background-color: #9AE3E3;
  }
}

.cizgi {
  position: relative;
  left: 15px;
  bottom: 250px;
  z-index: -1;
}

.footer {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-inline: 165px;
  align-items: baseline;
  padding-block: 72px
}

.footerLinks {
  display: flex;
  gap: 80px;
}

.Item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  strong {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.25px;
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 30px;
}

.loginForm, .signUpForm {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  padding: 60px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-block: 25px;

  label {
    margin-bottom: 12px;
    color: #333333;
  }

  input {
    padding: 10px 16px;
    border-color: transparent;
    border-radius: 7px;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  input::placeholder {
    color: #BFBFBF;
    font-weight: 700;
  }

  button {
    background-color: #2BD0D0;
    border: transparent;
    padding-block: 11px;
    color: #FFF;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: bold;
  }

  button:hover {
    background-color: #39eeee;
  }
}